PORT=4000
NODE_ENV=development
JWT_SECRET=your_jwt_signing_secret_here
COOKIE_SECRET=your_cookie_signing_secret_here
# DB URL defaults to local file. For Turso, replace with: libsql://your-db-name.turso.io
TURSO_DATABASE_URL=
TURSO_AUTH_TOKEN=

# Resend Email Service configurations
# Get your API key from https://resend.com
RESEND_API_KEY=
RESEND_FROM=
